/* Disable click highlighting on iOS device */
svg {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.interface {
  position: fixed;
  background-color: rgba(240, 240, 240, 0.9);
  border: solid 1px #ffffff;
  border-radius: 8px;
  overflow: auto;
  left: 4vw;
  top: -78vh;
  max-height: 92vh;
  width: 92vw;
}

.heading {
  text-align: center;
}

.column {
  display: inline-block;
  width: 29%;
  min-width: 256px;
  margin: 0 2%;
}

.buttons {
  text-align: right;
  margin: 1em;
  margin-top: 2em;
}

.label {
  display: inline-block;
  margin: 0.2em 0;
  width: 40%;
}

input {
  text-align: right;
  width: 30%;
}

.range {
  display: inline-block;
  width: 30%;
}

.range > input {
  width: 85%;
  margin-right: 0.5em;
}

.btn-hover {
  position: fixed;
  color: #999;
  top: 0.7em;
  right: 0.7em;
  cursor: pointer;
}

button {
  font-size: 1.5em;
  border-radius: 3px;
  cursor: pointer;
}
