/* Disable click highlighting on iOS device */
svg {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font: 300 16px Lato, "Trebuchet MS", Helvetica, sans-serif;
}

#config {
  top: -78vh;
  max-height: 74vh;
}

#footer {
  top: 104vh;
  max-height: 14vh;
  padding: 1em 0;
}

.interface {
  display: none;
  position: fixed;
  background-color: rgba(240, 240, 240, 0.9);
  border: solid 1px #ffffff;
  border-radius: 8px;
  overflow: auto;
  left: 4vw;
  width: 92vw;
}

.heading {
  text-align: center;
}

.description {
  padding: 0 10%;
}

.column {
  display: inline-block;
  width: 29%;
  min-width: 256px;
  margin: 0 2%;
}

.buttons {
  text-align: right;
  margin: 1em;
  margin-top: 3em;
}

.label {
  display: inline-block;
  margin: 0.2em 0;
  width: 40%;
}

input {
  text-align: right;
  width: 30%;
}

.range {
  display: inline-block;
  width: 30%;
}

.range > input {
  width: 75%;
  margin-right: 0.5em;
}

.range-label {
  font-size: 0.9em;
  float: right;
}

.btn-float {
  position: fixed;
  color: #999;
  top: 0.7em;
  right: 0.7em;
  cursor: pointer;
}

.btn {
  color: #fff;
  font-size: 1.1em;
  font-weight: 100;
  background-color: #aaa;
  padding: 0.3em 1.2em;
  border: solid 1px #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.btn:active {
  color: #000;
  background-color: #ddd;
  border-color: #000
}

.btn.primary {
  background-color: #34C749;
}

.hidden {
  display: none;
}
